################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InputDialog/bin
/InputDialog/obj
/.vs/InputDialog/v17
/.vs
/InputDialogUsageSample/bin
/InputDialogUsageSample/obj
